{"strategy":"CustomVerticalShort","degree":22,"num_advice":1,"num_lookup_advice":0,"num_fixed":1,"lookup_bits":21,"limb_bits":88,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":21,"num_advice":2,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":20,"limb_bits":88,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":20,"num_advice":3,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":19,"limb_bits":88,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":19,"num_advice":6,"num_lookup_advice":1,"num_fixed":1,"lookup_bits":18,"limb_bits":90,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":18,"num_advice":11,"num_lookup_advice":2,"num_fixed":1,"lookup_bits":17,"limb_bits":88,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":17,"num_advice":22,"num_lookup_advice":3,"num_fixed":1,"lookup_bits":16,"limb_bits":88,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":16,"num_advice":43,"num_lookup_advice":6,"num_fixed":1,"lookup_bits":15,"limb_bits":90,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":15,"num_advice":88,"num_lookup_advice":14,"num_fixed":1,"lookup_bits":14,"limb_bits":90,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":14,"num_advice":176,"num_lookup_advice":26,"num_fixed":1,"lookup_bits":13,"limb_bits":91,"num_limbs":3}
{"strategy":"CustomVerticalShort","degree":13,"num_advice":365,"num_lookup_advice":60,"num_fixed":1,"lookup_bits":12,"limb_bits":88,"num_limbs":3}